body {
    background: #09042a;
}
h1 {
    color: violet;
    font-size: 80px;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline #09042a;
}
#parametres {
    position: absolute;
    top: 3%; left: 90%;
    background-color: #09042a;
    border-color: transparent;
    width: 7.5%;
    height: 7.5%;
}
#message {
  position: absolute;
  top: 3%; left: 80%;
  background-color: #09042a;
  border-color: transparent;
  width: 7.5%;
  height: 7.5%;
}