body {
    background: #09042a;
}

nav.menu ul li.btn a{
    text-decoration: none;
    background-color: #09042a;
    padding: 10px;
    color: violet;
    font-size: 50px;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline #09042a;
}

nav.menu ul li.btn {
    list-style-type: none;
    display: inline-block;
}

div.menu {
    height: 20px;
}
#chat1 {
    position: absolute;
    top: 85%; left: 5%;
    width: 90%;
    height: 10%;
    background-color: gray;
    border-radius: 30px;
}
#chat2 {
    position: absolute;
    top: 85.5%; left: 5.25%;
    width: 89.5%;
    height: 9%;
    background-color: #09042a;
    border-radius: 28px;
}